<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header">
        Register
      </div>
      <div class="card-body">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
          <div class="form-group col-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" formControlName="userName">
            <div class="form-text text-danger" *ngIf="userName.errors?.['required'] && (userName.touched || userName.dirty || userSubmited)">
                  User Name is Required.
            </div>
            <div class="form-text text-danger" *ngIf="userName.errors?.['minlength'] && (userName.touched || userName.dirty)">
              User Name atleast more than 2 character.
            </div>
            <div class="form-text text-danger" *ngIf="userName.errors?.['pattern'] && (userName.touched || userName.dirty)">
              User Name start with alphabet.
            </div>
        </div>
        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">
          <div class="text-danger form-text" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty || userSubmited)">
              Email Id is Required.
          </div>
          <!-- <div class="text-danger form-text" *ngIf="Email.errors?.['email'] && (Email.touched || Email.dirty)">
              Email Name is Invalid.
          </div> -->
          <div class="text-danger form-text" *ngIf="Email.hasError('email')">
              Pleasr Provide Valid Email Id.
          </div>
        </div>
        <div class="form-group col-12">
          <label for="pwd" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="pwd">
          <div class="form-text text-danger" *ngIf="Pwd.errors?.['required'] && (Pwd.touched || Pwd.dirty || userSubmited)">
              Password is Required.
        </div>
          <div class="form-text text-danger" *ngIf="Pwd.errors?.['minlength'] || Pwd.errors?.['maxlength'] && (Pwd.touched || Pwd.dirty)">
              Password Should be at least 8 and at the max 15 character long.
          </div>
        </div>
        <div class="form-group col-12">
          <label for="cpwd" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" formControlName="cpwd">
          <div class="form-text text-danger" *ngIf="Cpwd.errors?.['required'] && (Cpwd.touched || Cpwd.dirty || userSubmited)">
              Confirm Password is Required.
        </div>
        <div class="form-text text-danger" *ngIf="registrationForm.hasError('notmatched') && Cpwd.valid">
          Password not Matched.
        </div>
        </div>
        <div class="form-group col-12">
          <label for="mobile" class="form-label">Mobile</label>
          <input type="text" class="form-control" formControlName="mobile">
          <div class="form-text text-danger" *ngIf="mobile.errors?.['required'] && (mobile.touched || mobile.dirty || userSubmited)">
              Mobile Number is Required.
          </div>
         <div class="form-text text-danger" *ngIf="mobile.errors?.['maxlength'] && (mobile.touched || mobile.dirty)">
              Mobile Number should be 10 digits.
         </div>
         <div class="form-text text-danger" *ngIf="mobile.errors?.['pattern'] && (mobile.touched || mobile.dirty)">
              only Numbers Allow.
          </div>
        </div>
        <div class="form-group col-12 mt-3">
          <button [disabled]="!registrationForm.valid" type="submit" class="btn btn-primary">Save</button> &nbsp;
          <button type="reset" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
